excilysbanking-webservices-soap/src/main/webapp/wsdl/CompteServiceWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.soap.webservices.excilysbanking.excilys.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.soap.webservices.excilysbanking.excilys.com" xmlns:intf="http://impl.soap.webservices.excilysbanking.excilys.com" xmlns:tns1="http://dto.excilysbanking.excilys.com" xmlns:tns2="http://entities.excilysbanking.excilys.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.soap.webservices.excilysbanking.excilys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.excilysbanking.excilys.com"/>
   <import namespace="http://entities.excilysbanking.excilys.com"/>
   <element name="getCompteById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompteByIdResponse">
    <complexType>
     <sequence>
      <element name="getCompteByIdReturn" type="tns1:CompteDTO"/>
     </sequence>
    </complexType>
   </element>
   <element name="getComptesByUsername">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getComptesByUsernameResponse">
    <complexType>
     <sequence>
      <element name="getComptesByUsernameReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getAllComptes">
    <complexType/>
   </element>
   <element name="getAllComptesResponse">
    <complexType>
     <sequence>
      <element name="getAllComptesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.excilysbanking.excilys.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entities.excilysbanking.excilys.com"/>
   <import namespace="http://impl.soap.webservices.excilysbanking.excilys.com"/>
   <complexType name="CompteDTO">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="solde" nillable="true" type="xsd:double"/>
     <element name="type" nillable="true" type="xsd:anyType"/>
     <element name="user" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCompteByIdRequest">

      <wsdl:part element="impl:getCompteById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllComptesRequest">

      <wsdl:part element="impl:getAllComptes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCompteByIdResponse">

      <wsdl:part element="impl:getCompteByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllComptesResponse">

      <wsdl:part element="impl:getAllComptesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getComptesByUsernameRequest">

      <wsdl:part element="impl:getComptesByUsername" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getComptesByUsernameResponse">

      <wsdl:part element="impl:getComptesByUsernameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CompteServiceWSImpl">

      <wsdl:operation name="getCompteById">

         <wsdl:input message="impl:getCompteByIdRequest" name="getCompteByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCompteByIdResponse" name="getCompteByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComptesByUsername">

         <wsdl:input message="impl:getComptesByUsernameRequest" name="getComptesByUsernameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getComptesByUsernameResponse" name="getComptesByUsernameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllComptes">

         <wsdl:input message="impl:getAllComptesRequest" name="getAllComptesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllComptesResponse" name="getAllComptesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CompteServiceWSImplSoapBinding" type="impl:CompteServiceWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCompteById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCompteByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCompteByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComptesByUsername">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getComptesByUsernameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getComptesByUsernameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllComptes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllComptesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllComptesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CompteServiceWSImplService">

      <wsdl:port binding="impl:CompteServiceWSImplSoapBinding" name="CompteServiceWSImpl">

         <wsdlsoap:address location="http://localhost:8080/ebank/services/CompteServiceWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
